<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dummy API | MrChimKy</title>
<link rel="stylesheet" href="/public/app.css">
<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
<meta name="title" content="Dummy API by MrChimKy">
<meta name="description" content="เว็บเพจ API สำหรับ Dummy API เว็บไซต์นี้ถูกสร้างเพื่อประชาสัมพันธิ์เกี่ยวกับ Dummy API ที่พัฒนาโดย MrChimKy">
<meta name="keywords" content="Dummy API, dummy api, Dummy api, mrchimky api, dummy api mrchimky, dummy api MrChimKy, Dummy API by MrChimKy, dummy api by MrChimKy, Free Dummy API by MrChimKy">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Thai">
<meta name="author" content="MrChimKy | MrChimKy Developments">
