<nav class="navbar">
    <div class="navbar-logo">
        <img src="/public/mrchimky-mascot.png" alt="MrChimKy Mascot">
    </div>
    <div class="navbar-content">
        <h2>Dummy API By MrChimKy</h2>
    </div>
    <div class="nav-link">
        <a href="#mrchimky">เกี่ยวกับผม</a>
    </div>
</nav>