<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy API | MrChimKy</title>
    <link rel="stylesheet" href="/public/app.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <meta name="title" content="Dummy API by MrChimKy">
    <meta name="description" content="เว็บเพจ API สำหรับ Dummy API เว็บไซต์นี้ถูกสร้างเพื่อประชาสัมพันธิ์เกี่ยวกับ Dummy API ที่พัฒนาโดย MrChimKy">
    <meta name="keywords" content="Dummy API, dummy api, Dummy api, mrchimky api, dummy api mrchimky, dummy api MrChimKy, Dummy API by MrChimKy, dummy api by MrChimKy, Free Dummy API by MrChimKy">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Thai">
    <meta name="author" content="MrChimKy | MrChimKy Developments">
    
</head>
<body>
    <main class="container">
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="/public/mrchimky-mascot.png" alt="MrChimKy Mascot">
            </div>
            <div class="navbar-content">
                <h2>Dummy API By MrChimKy</h2>
            </div>
            <div class="nav-link">
                <a href="#mrchimky">เกี่ยวกับผม</a>
            </div>
        </nav>
        <section class="content" style="margin-top: 2rem;">
            <div class="sect_1 shadow">
                <span id="typing" style="font-size: 32px;"></span>
            </div>
            <div class="sect_2">
                <div class="shadow" style="display: flex;">    
                    <img src="/public/code_tutorial_1.png" alt="Code Preview 1">
                </div>
            </div>
        </section>
        <section class="content" style="margin-top: 2rem;" id="whatisdummeyapi">
            <div class="blog">
                <h1>Dummy API คืออะไร?</h1>
                <p>Dummy API คือ API สำหรับสร้างชุดข้อมูลตัวอย่าง เช่น ข้อมูลสินค้า ข้อมูลบุคคล เป็นต้น <br> API ตัวนี้ออกแบบมาเพื่อให้น้องๆเพื่อนๆพี่ๆที่เริ่มใช้ API ได้ลองเล่นและใช้งาน เพื่อนทำความเข้าใจและศึกษาการทำงานของ RESTful API และยังมี Source Code ที่ผมได้ทำเอาใว้ สำหรับท่านใดที่อยากศึกษาสามารถนำโค้ตผมไปใช้ได้เลย แต่ไม่อนุญาตให้นำโค้ตชุดนี้ไปขายหรือกระทำการใดๆในทางที่ไม่ดี</p>
            </div>
            <div class="sect_2">
                <div class="shadow" style="display: flex;">    
                    <img src="/public/code_tutorial_2.png" alt="Code Preview 1">
                </div>
            </div>
        </section>
        <section class="content_howto" style="margin-top: 4rem;">
            <div class="content_1">
                <h1 style="text-align: center;">วิธีการใช้งาน</h1>
                <p>ผมไม่ได้ทำคำแนะนำใว้เป็นเว็บเพจนี้ เนื่องจากใช้เวลานานและออกแบบยากเกินไป ผมเลยเขียนทุกอย่างใว้บน Github แทน ผมได้เขียนรายละเอียดและวิธีการใช้งานใว้ที่ Github ของผมแล้ว ทุกๆท่านสามารถเข้าไปอ่านได้เลยครับผม</p>
                <hr style="border-color: rgb(180, 180, 180, .6); margin-block: .5rem;">
                <p><b style="color: red;">*</b> หากใครมี Feedback หรืออนาคต API v2 อยากให้มีระบบอะไรเพิ่มขึ้นมา(ที่เป็นไปได้) ผมจะทำมาเป็นตัวอย่างให้ครับผม</p>
            </div>
            <div class="github">
                <a href="">
                    <img src="/public/github.png" alt="Github Repo">
                    MrChimMy
                </a>
            </div>
        </section>
        <div id="mrchimky"></div>
        <section class="whoischim" style="margin-top: 4rem;">
            <div>
                <h1>ใครคือ MrChimKy???</h1>
                <p>MrChimKy เป็นชื่อในวงการของผม ผมชื่อเล่น ชิม แต่หลายๆคนชอบเรียก ซิม คิม ชิน ชิมมี่ แต่ไม่เป็นไรมีหลายชื่อเฟี้ยวดี</p>
                <p>ผมศึกษา เรียน และทำงานเกี่ยวกับ Programming มา 2-3 ปี ประสบการณ์เป็น Freelance 1.5 ปี ณ ปัจจุบันศึกษาอยู่ วิทยาลัยเทคนิคนครราชสีมา ระดับปวส. สาขาวิชาเทคโนโลยีคอมพิวเตอร์ (Computer Technology) สาขางานคอมพิวเตอร์ฮาร์ดแวร์ (Computer Hardware)</p>
                <p>งานอดิเรกคือ Freelance Full-Stack และมีทำงานช่างบ้างประปราย เช่น ซ่อมเครื่องใช้ไฟฟ้า งานเกี่ยวกับคอมพิวเตอร์ หรือช่วยเหลือเรื่องโปรเจคจบของใครหลายคน</p>
            </div>
            <div class="Albam">
                <img src="/public/Chim-1.jpg" alt="Chim 1" class="albam-1">
                <img src="/public/Chim-2.jpg" alt="Chim 2" class="albam-2">
            </div>
        </section>
        <section class="social" style="margin-top: 4rem;">
            <h1 style="font-size: 32px;">โซเชียลมีเดีย (Social Media)</h1>
            <div class="social-link">
                <a href="https://facebook.com/mrchimky" target="_blank">
                    <img src="public/facebook.png" alt="Facebook" style="width: 64px;">
                </a>
                <a href="https://line.me/ti/p/ujGDz99ze8" target="_blank">
                    <img src="public/line.webp" alt="Line" style="width: 64px;">
                </a>
                <a href="https://youtube.com/@mrchimky" target="_blank">
                    <img src="public/youtube.webp" alt="Youtube" style="width: 64px;">
                </a>
                <a href="https://youtube.com/@mrchxmer" target="_blank">
                    <img src="public/youtube.webp" alt="Youtube" style="width: 64px;">
                </a>
                <a href="https://github.com/mrchimmy" target="_blank">
                    <img src="/public/github.png" alt="Github" style="width: 64px;">
                </a>
            </div>
        </section>
        <hr style="margin-block: 2rem; border-color: rgb(126, 197, 255);">
        <section class="recommend-program">
            <h1>โปรแกรมที่แนะนำ</h1>
            <a href="https://www.postman.com/downloads/" target="_blank">
                <img src="public/postman.png" alt="Postman" style="width: 100%; border-radius: .5rem;">
            </a>
        </section>
    </main>

    <footer class="footer">
        <p>2024 | Dummy API make with ❤️ by MrChimKy, MrChimKy Developments</p>
    </footer>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#typing', {
          strings: ['สวัสดีครับผม MrChimKy', 'นี่เป็นเว็บ Dummy API สำหรับคนที่อยากลองเล่น API'],
          typeSpeed: 80,
          loop: true
        });
      </script>
</body>
</html>